@import '../../scss/main.scss';

.hero{
    &__container{
        height: fit-content;
    }
    .slick-dots {
        position: absolute;
        bottom: 4vh;

        @include tablet(){
            bottom: 15vh;
        }
    }
    .slick-dots li button:before {
        font-family: 'slick';
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        border-radius: 50%;
        background-color: #191919;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        content: '';
        text-align: center;
    }
    
    .slick-dots li.slick-active button:before {
        border: 3px solid hsla(0, 0%, 100%, 0.671);
    }
    .active-anim{
        opacity: 1;
    }

        .slick-prev, .slick-next{
            display: flex;
            align-items: center;
            justify-content: center;
            
            &::before{
                display: none;
                @include tablet(){
                    display: block;
                    font-size: 45px;
                }
            }
            z-index: 10;
            @include tablet(){
                width: 44px;
                height: 44px;
            }
        }
    
        .slick-prev{
            left: 3vw;
            z-index: 1;
        }
        .slick-next{
            right: 3vw;
            z-index: 1;     
        }
    
        .slick-prev:active{
            &::before{
                color: var(--color-main);
            }
        }
        .slick-next:active{
            &::before{
                color: var(--color-main);
            }
            
        }
}
.slide{
    padding-top: 48px;
    position: relative;
    height: 400px;

    &-img{
        height: 100%;
        width: 100%;
    }

   &__animation-container{
       padding-top: 22px;
       display: flex;
       flex-direction: column;
       align-items: center;
       position: absolute;
       width: 100%;

       @media(min-width: 436px){
        padding-top: 0px;   
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 80%;
       }


       div.styles_container__CB96g{
        padding: 0;
        margin: 0;
    }
   }

   &__animation-left{
    padding-left: 20px;
    width: 230px;

    

    @media(min-width: 436px){
        padding-left: 0;
    }

    @include desktop(){
        width: 431px;
    }

    div.styles_container__38iRH{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    div.styles_container__UPhAF{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
   }
   &__animation-right{
       width: 190px;

       @include tablet(){
        width: 260px;
    }
    @include desktop(){
        width: 382px;
    }
   }

    @include tablet(){
        height: 534px;
    }
    @include desktop(){
        height: 637px;
    }
}
