
@font-face {
font-family: "GothamPro";
src: url("../fonts/GothamPro-Light.woff") format("woff");
font-weight: 300;
font-style: ligth;
font-display: block;
}

@font-face {
font-family: "GothamPro";
src: url("../fonts/GothamPro-Black.woff") format("woff");
font-weight: 700;
font-style: bold;
font-display: block;
}


@font-face {
font-family: "Intro";
src: url("../fonts/Intro-Bold.woff") format("woff");
font-weight: 700;
font-style: bold;
font-display: block;
}

@font-face {
font-family: "Intro-Book";
src: url("../fonts/Intro-Book.woff") format("woff");
font-weight: 400;
font-style: normal;
font-display: block;
}  

@font-face {
font-family: "Intro";
src: url("../fonts/Intro-Regular.woff") format("woff");
font-weight: 400;
font-style: bold;
font-display: block;
}

@font-face {
    font-family: "Eurostile-Round";
    src: url('../fonts/EurostileRound-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: block;
  }